<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Persegi Panjang
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Panjang</ion-label>
    <ion-input placeholder="input panjang" [(ngModel)]="num1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Lebar</ion-label>
    <ion-input placeholder="input lebar" [(ngModel)]="num2"></ion-input>
  </ion-item>
  <ion-button color="primary" (click)="result()">Hitung</ion-button>
  <ion-button color="danger">Reset</ion-button>
  <ion-item>
    <ion-label>Hasil</ion-label>
    <ion-input placeholder="hasil" value="{{num3}}"></ion-input>
  </ion-item>
</ion-content>
